<!DOCTYPE html>                
<html lang="en">   
    <head>   
        <meta charset="UTF-8">   
        <meta http-equiv="X-UA-Compatible" content="IE=edge">   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />    -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        <title>Data</title>   
    </head>   
    <body>   
    <!-- <div class="q"> -->
        <table class="table">   
            <thead>   
                <tr>
                    <th style="text-align:left">Age</th>
                    <th style="text-align:left">Gender</th>
                    <th style="text-align:left">Location</th>
                    <th style="text-align:left">Relationship Status</th> 
                    <th style="text-align:left">Occupation</th> 
                    <th style="text-align:left">Organization Number</th> 
                    <th style="text-align:left">Organization Type</th> 
                    <th style="text-align:left">Social Media User</th> 
                    <th style="text-align:left">Platform Number</th> 
                    <th style="text-align:left">Platform Name</th> 
                    <th style="text-align:left">Average Social Media Hours Day</th> 
                    <th style="text-align:left">Purposless Usage Frequency</th> 
                    <th style="text-align:left">Dsitracted Use Frequency</th> 
                    <th style="text-align:left">Restless Without Social Media Level</th> 
                    <th style="text-align:left">General Distraction Level</th> 
                    <th style="text-align:left">General Worry Level</th> 
                    <th style="text-align:left">General Difficulty Concntrating Level</th> 
                    <th style="text-align:left">Comparison to Others Frequency</th> 
                    <th style="text-align:left">Feeling About Comparison Level</th> 
                    <th style="text-align:left">Seeking Validation Frequency</th>
                    <th style="text-align:left">Depression Frequency</th> 
                    <th style="text-align:left">Interest Fluctuation Frequency</th>  
                    <th style="text-align:left">Sleep Issue Frequency</th> 
                    <th style="text-align:left">Comments</th> 
                    <th></th>
                </tr> 
            </thead>
        <!-- </div> -->
        <tbody>
            <% for (let iCount = 0; iCount < SurveyResponses.length; iCount++) { %>
                <tr>
                    <td><%= SurveyResponses[iCount].User_Id %></td>
                    <td><%= SurveyResponses[iCount].Age %></td>   
                    <td><%= SurveyResponses[iCount].Gender %></td>
                    <td><%= SurveyResponses[iCount].Location %></td> 
                    <td><%= SurveyResponses[iCount].Relationship_Status %></td> 
                    <td><%= SurveyResponses[iCount].Social_Media_User %></td>
                    <td><%= SurveyResponses[iCount].Occupation %></td>   
                    <td><%= SurveyResponses[iCount].Avg_Social_Media_Hours_Daily %></td>
                    <td><%= SurveyResponses[iCount].Purposless_Usage_Frequancy %></td> 
                    <td><%= SurveyResponses[iCount].Distracted_Use_Frequency %></td> 
                    <td><%= SurveyResponses[iCount].Restless_Without_Social_Media_Level %></td>
                    <td><%= SurveyResponses[iCount].General_Distraction_Level %></td>   
                    <td><%= SurveyResponses[iCount].General_Worry_Level %></td>
                    <td><%= SurveyResponses[iCount].General_Difficulty_Concentrating_Level %></td> 
                    <td><%= SurveyResponses[iCount].Comparison_To_Others_Frequency %></td> 
                    <td><%= SurveyResponses[iCount].Feeling_About_Comparison_Level %></td>
                    <td><%= SurveyResponses[iCount].Seeking_Validation_Frequency %></td>   
                    <td><%= SurveyResponses[iCount].Depression_Frequency %></td>
                    <td><%= SurveyResponses[iCount].Interest_Fluctuation_Frequency %></td> 
                    <td><%= SurveyResponses[iCount].Sleep_Issue_Frequency %></td> 
                    <td><%= SurveyResponses[iCount].Comments %></td>
                                                                                   
                    
                </tr>
            <% } %>
        </tbody>
    </table>
    <br><br>
    <form action="/findRecord" method="GET">
        <button type="submit">Search</button>
    </form>
    <br>
    <form action="/addBand" method="GET">
        <button type="submit">Add Band</button>
    </form>
    <br>
    <form action="/deleteAllBands" method="POST">
        <button type="submit">Delete All Bands</button>
    </form>
    </body>
</html>    